
.isorine-dalis{
    box-sizing: border-box;   
    border:  20px rgb(180, 127, 13) solid;
    margin: 100px ;    
    width: 600px; 
    padding-bottom: 50px;    

}

.pastraipa {
    
    width: 80%;
    font-size: 30px;
    border: dotted black 2px;       
    background-color: white;
    
   

}
