.dezute {
    font-size: 40px;
    width: 500px;
    background-color: rgb(199, 191, 191);
    padding-top: 60px;
    padding-bottom: 250px;
    padding-left: 60px;
    padding-right: 100px;
    border: solid blueviolet 20px;
    
    
}